<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.iba.carswop" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="be.iba.carswop.core.Login"
            android:label="@string/app_name"
            android:theme="@style/editTextStyle"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.iba.carswop.receiver.NotificationUser"
            android:label="@string/title_activity_NotificationUser"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.Register"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.AddCar"
            android:label="@string/title_activity_car_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.RequestData"
            android:label="@string/title_activity_request_data"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.ListPersonnalCars"
            android:label="@string/title_activity_list_personnal_cars"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.ModifyCar"
            android:label="@string/title_modify_car"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.ListSpecificCars"
            android:label="@string/title_activity_list_specific_cars"
            android:screenOrientation="portrait" >
        </activity>

        <!--
        <receiver android:name=".receiver.NotificationAutoStart">
             <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED"/>
                 <action android:name=".service.Notification"/>
             </intent-filter>
        </receiver>
        -->

        <service android:name="be.iba.carswop.service.Notification" />

        <activity
            android:name="be.iba.carswop.core.RequestReceived"
            android:label="@string/title_activity_request_received" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.AcceptOwner"
            android:label="@string/title_activity_accept_owner" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.SelectOwner"
            android:label="@string/title_activity_select_owner" >
        </activity>
        <activity
            android:name="be.iba.carswop.core.AcceptedRequest"
            android:label="@string/title_activity_accepted_request" >
        </activity>
    </application>

</manifest>
